<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Books</title>
</head>
<body>

<div class="main">

<table>
    <tr>
    <!-- Side Navigation -->

        <!-- First Column is just spaces for horizontal neatness -->
        <th scope="col">&nbsp;&nbsp;&nbsp;</th>

        <!-- Second Column for Navigation Header -->
        <th scope="col"><h2>Navigation</h2></th>

        <!-- Third Column is also just for horizontal spacing -->
        <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>

        <!-- Main page title -->
        <th scope="col"><h1>Our Large Selection of Books</h1></th>

        <th scope="col">&nbsp;</th>
    </tr>

    <tr>
        <!-- This <td> is just for horizontal formatting -->
        <td scope="col">&nbsp;</td>

        <!-- Navigation Pane -->
        <td> 
            <h4> <a href="home.html">Home Page</a> </h4>
            <h4> <a href="books.html">Books</a> </h4>
                <br><br><br><br><br><br><br><br><br><br><br><br>
        </td>

        <td>
            &nbsp;
        </td>

        <td>
                <a href=book1.html>
                    <img src=../public/images/datastructuresinjava.jpg alt="Data Structures and Algorithms in Java" width=250> 
                    
                </a>
        </td>
        <td>
            <a href=book1.html>
            <h2>Data Structures and Algorithms in Java</h2>
            </a >
        </td>

    </tr>
    
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
        <a href=book2.html>
                <img src=../public/images/dragonbook.jpg alt="Compilers: Principles, Techniques, and Tools" width=250 >
        </a>
        </td>
        <td>
        <a href=book2.html>
            <h2>Compilers: Principles, Techniques, and Tools</h2>
        </a>
        </td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
            <a href=book3.html>
                <img src=../public/images/thecatinthehat.jpg alt="The Cat in the Hat" width=250 >
            </a>
        </td>
        <td>
        <a href=book3.html>
            <h2>The Cat in the Hat</h2>
        </a>
        </td>
    </tr>
</table>

</div>

</body>
</html>

