<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Data Structures and Algorithms in Java</title>
</head>
<body>

<div class="main">

<table>
    <tr>
    <!-- Side Navigation -->

        <!-- First Column is just spaces for horizontal neatness -->
        <th scope="col">&nbsp;&nbsp;&nbsp;</th>

        <!-- Second Column for Navigation Header -->
        <th scope="col"><h2>Navigation</h2></th>

        <!-- Third Column is also just for horizontal spacing -->
        <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>

        <!-- Main page title -->
        <th scope="col"><h1>Book 1 </h1></th>

        <th scope="col">&nbsp;</th>
    </tr>

    <tr>
        <!-- This <td> is just for horizontal formatting -->
        <td scope="col">&nbsp;</td>

        <!-- Navigation Pane -->
        <td> 
            <h4> <a href="home.html">Home Page</a> </h4>
            <h4> <a href="books.html">Books</a> </h4>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </td>

        <td>
            &nbsp;
        </td>
        <td>
            <a href=book1.html>
                <img src=../public/images/datastructuresinjava.jpg alt="Data Structures and Algorithms in Java" height="450"> 
                
            </a>
    </td>
    <td width=400>
        
        <h2>Data Structures and Algorithms in Java</h2>
        <h3>by Alfred V. Aho (Author), Monica S. Lam (Author), Jeffrey D. Ullman (Author), Ravi Sethi </h3>
        <p>
            Data Structures and Algorithms in Java, Second Edition is designed to be easy 
            to read and understand although the topic itself is complicated. Algorithms 
            are the procedures that software programs use to manipulate data structures. 
            Besides clear and simple example programs, the author includes a workshop as 
            a small demonstration program executable on a Web browser. 
        </p>
        <br><br><br><br><br><br><br><br><br>
        
    </td>

</tr>

<tr>

</table>

</div>

</body>
</html>
