<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Compilers: Principles, Techniques, and Tools</title>
</head>
<body>

<div class="main">

<table>
    <tr>
    <!-- Side Navigation -->

        <!-- First Column is just spaces for horizontal neatness -->
        <th scope="col">&nbsp;&nbsp;&nbsp;</th>

        <!-- Second Column for Navigation Header -->
        <th scope="col"><h2>Navigation</h2></th>

        <!-- Third Column is also just for horizontal spacing -->
        <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>

        <!-- Main page title -->
        <th scope="col"><h1>Book 2 </h1></th>

        <th scope="col">&nbsp;</th>
    </tr>

    <tr>
        <!-- This <td> is just for horizontal formatting -->
        <td scope="col">&nbsp;</td>

        <!-- Navigation Pane -->
        <td>  
            <h4> <a href="home.html">Home Page</a> </h4>
            <h4> <a href="books.html">Books</a> </h4>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </td>

        <td>
            &nbsp;
        </td>
        <td>
            <a href=book2.html>
                <img src=../public/images/dragonbook.jpg alt="Compilers: Principles, Techniques, and Tools" height=450 >
                </a>
    </td>
    <td width=400>
        
        <h2>Compilers: Principles, Techniques, and Tools</h2>
        <h3>by Robert Lafore (Author)</h3>
        <p>
            Compilers: Principles, Techniques and Tools, known to professors, students, 
            and developers worldwide as the "Dragon Book," is available in a new edition.  
            Every chapter has been completely revised to reflect developments in software 
            engineering, programming languages, and computer architecture that have occurred 
            since 1986, when the last edition published.  
        </p>
        <br><br><br><br><br><br><br><br><br><br>
    </td>

</tr>

<tr>

</table>

</div>

</body>
</html>
