<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Mobasery Library</title>
</head>
<body>

<div class="main">

<table>
    <tr>
    <!-- Side Navigation -->

        <!-- First Column is just spaces for horizontal neatness -->
        <th scope="col">&nbsp;&nbsp;&nbsp;</th>

        <!-- Second Column for Navigation Header -->
        <th scope="col"><h2>Navigation</h2></th>

        <!-- Third Column is also just for horizontal spacing -->
        <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>

        <!-- Main page title -->
        <th scope="col"><h1>Welcome to the Mobasery Library</h1></th>
    </tr>

    <tr>
        <!-- This <td> is just for horizontal formatting -->
        <td scope="col">&nbsp;&nbsp;&nbsp;</td>

        <!-- Navigation Pane -->
        <td> 
            <h4> <a href="home.html">Home Page</a> </h4>
            <h4> <a href="books.html">Books</a> </h4>
            <br><br><br><br><br><br><br><br><br><br><br><br>
        </td>

        <td>
            &nbsp;
        </td>

        <td>
            <p><h2>Please select from the navigation pane on the left side.</h2></p>
            <!-- These line breaks were for vertical spacing inside the table -->
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </td>
    </tr>
</table>

</div>

</body>
</html>

